{% extends "base.html" %}

{% block content %}
    <h1>Speak Yo Heart Here</h1>
    <form action='/newpost'method='POST'>
        <label>Title for your new blog:</label><br>
            <input type='text' name='blog' value='{{blog_title}}'><br>
            <p class='error'>{{ blog_title_error }}<p>
            <br>
        <label>Now Pour your soul into your post:</label><br>
            <textarea name='blog-body'>{{blog_body}}</textarea><br>
            <p class='error'>{{ blog_body_error }}<p>
            <input type='submit' value='Submit Post'>
    </form>

{% endblock %}